RESEND_API_KEY=re_SUBSTITUA_PELA_CHAVE_NOVA
SEND_EMAIL_HOOK_SECRET=v1,whsec_SUBSTITUA_PELO_SEGREDO_DO_HOOK
AUTH_EMAIL_FROM=Mercado do Compositor <no-reply@auth.seudominio.com>
NOTIFICATION_EMAIL_FROM=Mercado do Compositor <notificacoes@seudominio.com>
NOTIFICATION_CRON_SECRET=gere-um-segredo-longo-e-aleatorio

# URL pública do app
APP_URL=https://mercadodocompositor.com.br
STRIPE_SECRET_KEY=sk_test_substitua
STRIPE_WEBHOOK_SECRET=whsec_substitua
